body{
    margin: 0px;
}

#container{
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 7.5% 1fr;
    grid-template-areas: 
    'hd'
    'nv'
    'mn1'
}

header{
    grid-area: hd;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(154, 158, 161);
}

nav{
    grid-area: nv;
    display: flex;
    background-color: rgb(154, 158, 161);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    justify-content: space-around;
    align-items: center;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*border-style: solid;*/
    color: rgb(40, 40, 40);
    text-decoration: none;
}

.main1{
    grid-area: mn1;
    background-image: url("../img/animals/istock-1307831360.jpg");
    background-size: cover;
    background-position-y: -75px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    
}

.main2{
    grid-area: mn1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.katt{
    width: 100%;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(40, 40, 40);
}

.card{
    width: 15%;
    height: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    border-radius: 10px 10px 0 0;
}

#container3{
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 7.5% 1fr;
    grid-template-areas: 
    'hd hd'
    'nv nv'
    's as1'
    's as2'
}

.s{
    grid-area: s;
    background-image: url(../img/Skärmbild\ 2022-12-09\ 133624.png);
    background-size: cover;
}

.as1{
    grid-area: as1;
}

.as2{
    grid-area: as2;
}

.anst{
    width: 100%;
}